# Python
__pycache__/
*.pyc
*.pyo

# OS / IDE
.DS_Store
.vscode/
*.ipynb_checkpoints
.venv/
env/
venv/

# Project outputs & data
runs/
data/
*.mp4
*.mov
*.zip
data/__MACOSX/

# Models 
model/*.onnx
!model/README.md
